TestProject1/Web References/WSVersion3/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.canadahelps.org/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.canadahelps.org/v2" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://www.canadahelps.org/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.canadahelps.org/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.canadahelps.org/v3">
      <s:import namespace="http://www.canadahelps.org/v2" />
      <s:element name="ProcessRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:WSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerInfo" type="tns:WSCustomerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSCustomerInfo">
        <s:complexContent mixed="false">
          <s:extension base="s1:WSCustomerInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SIN" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ProcessRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessRequestResult" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCodes" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.canadahelps.org/v2">
      <s:import namespace="http://www.canadahelps.org/v1" />
      <s:complexType name="WSCustomerInfo">
        <s:complexContent mixed="false">
          <s:extension base="s2:WSCustomerInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.canadahelps.org/v1">
      <s:complexType name="WSCustomerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcessRequest">
      <wsdl:input message="tns:ProcessRequestSoapIn" />
      <wsdl:output message="tns:ProcessRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://www.canadahelps.org/v3/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://www.canadahelps.org/v3/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:18310/v3/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:18310/v3/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>